<a href="https://colab.research.google.com/github/Knell999/ML_Ops_HK-Toss/blob/main/Chapter_1_%EA%B8%B0%EC%B4%88/01_%ED%8C%8C%EC%9D%B4%EC%8D%AC/04_%EC%BB%AC%EB%A0%89%EC%85%98_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 컬렉션
* 무엇인가를 모은것!
* 파이썬의 컬렉션은 **파이썬에 존재하는 모든 것을** 모을 수 있다.
  * 문법적인 요소들 빼고는 모두 다 모을 수 있다.
  * 데이터, 변수, 함수, 클래스, 오브젝트
* 어떠한 데이터를 모아낸 **구조**
  * **자료구조**

# 컬렉션의 종류
* `list`
  * `Sequence` 자료형
  * `Mutable` 자료형
    * 추가된 데이터가 바뀔 수 있다.
  * 중복 데이터 저장이 가능하다.
  * `[]` 또는  `list()` 를 이용해서 만들 수 있다.
* `tuple`
  * `Sequence` 자료형
  * `Immutable` 자료형
    * 추가된 데이터가 바뀔 수 없다.
    * `str` 형식의 데이터도 `Immutable`
  * 중복 데이터 저장이 가능하다.
  * `()`를 활용해서 만든다.
* `set`
  * `Non-Sequence` 자료형
    * 데이터 저장의 순서를 보장하지 않는다.
  * 중복 데이터의 저장도 허용하지 않는다.
  * **집합**의 개념
* **`dict`**
  * `Non-Sequence` 자료형
  * `Key-Value` 구조 자료형
* generator

# list

In [ ]:
list1 = [1, 2, 3, "four", [6, 7], 7.0, True]
list1

[1, 2, 3, 'four', [6, 7], 7.0, True]

In [ ]:
len(list1)

7

In [ ]:
print(list1[3])
print(list1[2])
print(list1[4])

four
3
[6, 7]

In [ ]:
print(list1[4][1])

7

In [ ]:
BTS = ["정국", "슈가", "뷔", "랩몬스터", "지민", "제이홉", "진"]

# 문제 1 => "랩몬스터"에서 "몬스터"만 추출
print(BTS[3][1:])

# 문제 2 => [진, 지민, 뷔, 정국]만 추출
print(BTS[::-2])

몬스터
['진', '지민', '뷔', '정국']

## list의 기능
* `append()` ★★★★★
  - 리스트의 제일 뒤에 값을 추가한다.
* `sort()` ★★★
  - 기본적으로 오름차순 정렬
  - `reverse=True` 설정하면 내림차순 정렬
* `pop()`
  - 제일 뒤에 있는 데이터를 **꺼내고** 삭제

In [ ]:
list2 = [1, 2]
list2.append(3)

In [ ]:
list2[:2]

[1, 2]

In [ ]:
list2

[1, 2, 3]

In [ ]:
print(list2.append(4))

None

In [ ]:
list2

[1, 2, 3, 4]

In [ ]:
list2.append("hello")
list2.append(3.141592)
list2

[1, 2, 3, 4, 'hello', 3.141592]

In [ ]:
list3 = [5, 1, 4, 7, 2, 3, 6]
list3

[5, 1, 4, 7, 2, 3, 6]

In [ ]:
list3.sort()

In [ ]:
list3

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list3.sort(reverse=True)
list3

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
list4 = ["banana", 'apple', 'avocado', 'cherry', 'mango']
list4

['banana', 'apple', 'avocado', 'cherry', 'mango']

In [ ]:
list4.sort()
list4

['apple', 'avocado', 'banana', 'cherry', 'mango']

In [ ]:
list5 = ["Apple", "apple", "Banana", "banana"]
list5.sort()
list5

['Apple', 'Banana', 'apple', 'banana']

In [ ]:
list1

[1, 2, 3, 'four', [6, 7], 7.0, True]

In [ ]:
item = list1.pop() # 제일 뒤에서 아이템을 빼낸 후 삭제
print(item, " / ", list1)

IndexError: pop from empty list

In [ ]:
pokemon1 = ['피카츄', '라이츄']
pokemon2 = ['꼬부기', '파이리']

# 추가(append)
pokemon1.append(pokemon2)
pokemon1

['피카츄', '라이츄', ['꼬부기', '파이리']]

In [ ]:
pokemon1 = ['피카츄', '라이츄']
pokemon2 = ['꼬부기', '파이리']

# 병합(extend)
pokemon1.extend(pokemon2)

In [ ]:
pokemon1

['피카츄', '라이츄', '꼬부기', '파이리']

In [ ]:
pokemon1 = ['피카츄', '라이츄']
pokemon2 = ['꼬부기', '파이리']

pokemon1 + pokemon2

['피카츄', '라이츄', '꼬부기', '파이리']

# tuple
- 리스트와 매우 흡사하지만 변경(추가, 삭제, 수정)이 불가
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [ ]:
# 리스트는 아이템의 수정이 가능하다.
lst = [1, 2, 3]
lst[1] = "hahahahaa"
lst

[1, 'hahahahaa', 3]

In [ ]:
# 튜플은 아이템 수정이 불가능하다.
tup = (1, 2, 3)
tup

(1, 2, 3)

In [ ]:
tup[1] = "hahahaha"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1]

2

In [ ]:
tup[:2]

(1, 2)

In [ ]:
tup[::-1]

(3, 2, 1)

In [ ]:
# str도 Immutable
text = "abcd"
text[1] = "f"

TypeError: 'str' object does not support item assignment

`"abcd"` -> `"abfcd"`

In [ ]:
text = "abcd"
text[:2] + "f" + text[2:]

'abfcd'

In [ ]:
# 리스트와 튜플의 저장공간 비교
#   공부하지 마시고 그냥 참고만 하세요
import sys
lst = [1, 2, 3]
tup = 1, 2, 3 # 소괄호 생략이 가능

print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

88
64

## 패킹(Packing), 언패킹(UnPacking) ★★★★★
- 패킹 : 데이터를 모아내는 작업
- 언패킹 : 모아낸 데이터를 풀어 놓는 작업

In [ ]:
# 패킹
tup = (1, "two", 3)

# 언패킹
item1, item2, item3 = tup

print(item1)
print(item2)
print(item3)

1
two
3

In [ ]:
item1, item2 = tup

ValueError: too many values to unpack (expected 2)

In [ ]:
item1, item2, item3, item4 = tup

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
tup = ('one', 2, 'three')

item1 = tup[0]
item2 = tup[2]

In [ ]:
# 관례 상 필요 없는 패킹 데이터는 언더바(_)를 변수명으로 사용한다.
#  _로 이름이 지어진 변수는 사용하지 않을 변수
item1, _, item2 = tup

In [ ]:
_

2

In [ ]:
# 1, 3만 언패킹
tup = ( 1, 2, 3, 4 )

item1, _, item2, _ = tup

# Set(집합)

In [ ]:
set1 = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5} # set
lst1 = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5] # list

print(set1)
print(lst1)

{1, 2, 3, 4, 5}
[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [ ]:
set2 = {"banana", "apple", "mango", "cherry", "orange"}
lst2 = ["banana", "apple", "mango", "cherry", "orange"]

print(set2)
print(lst2)

{'cherry', 'orange', 'banana', 'mango', 'apple'}
['banana', 'apple', 'mango', 'cherry', 'orange']

## Set의 집합 연산
- 교집합 : `intersection`
- 합집합 : `union`
- 차집합 : `difference`
- 부분집합 : `issubset`

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4}

In [ ]:
# 교집합
A.intersection(B)

{2, 3}

In [ ]:
# 합집합
A.union(B)

{1, 2, 3, 4}

In [ ]:
# 차집합
A.difference(B) # A-B

{1}

In [ ]:
B.difference(A) # B-A

{4}

In [ ]:
# 부분집합 - True / False
C = {2, 3}

In [ ]:
# 집합 C가 A의 부분집합인가?
C.issubset(A)

True

In [ ]:
# 집합 C가 B의 부분집합인가?
C.issubset(B)

True

In [ ]:
# 집합 B가 A의 부분집합인가?
B.issubset(A)

False

`set`은 Non-Sequence이기 때문에 인덱스 사용이 불가능!

In [ ]:
A[0]

TypeError: 'set' object is not subscriptable

# `dict`⭐️⭐️⭐️⭐️⭐️
- `{key : value}`
  - `{key1 : value1, key2 : value2, key3 : value1}`
- `key`의 특징
  - `key`는 `set`의 형태로 저장된다.
  - 정수와 문자열로만 설정이 가능하다.
- `value`의 특징
  - `value`는 `list`의 형태로 저장된다.
  - 중복 저장 허용
  - 파이썬에 존재하는 모든 데이터 타입이 저장 될 수 있다.

In [ ]:
city = {
    "Korea": "Seoul",
    "Japan": "Tokyo",
    "Canada": "Ottawa"
}

city

{'Japan': 'Tokyo', 'Korea': 'Seoul', 'Canada': 'Ottawa'}

In [ ]:
# 딕셔너리에서 데이터를 가져오는 방법
city["Japan"]

'Tokyo'

In [ ]:
city["Korea"]

'Seoul'

In [ ]:
# 없는 키를 조회하면 에러!
city["USA"]

KeyError: 'USA'

In [ ]:
# 없는 키를 조회한 경우 대체 값을 지정
city.get("USA", "없음!")

'없음!'

## `dict`에 데이터를 추가, 변경
- 추가와 변경의 문법이 똑같다.
- 키가 없으면 추가, 있으면 수정

In [ ]:
city["China"] = "Beijing"
city

{'Japan': 'Tokyo', 'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

In [ ]:
city["Japan"] = "Kyoto"
city

{'Japan': 'Kyoto', 'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

## `dict`의 원소 삭제
- `del` 키워드 활용

In [ ]:
del city["Japan"]
city

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'China': 'Beijing'}

## `dict`의 key, value를 확인

In [ ]:
# keys() : 딕셔너리의 전체 키를 확인
city.keys()

dict_keys(['Korea', 'Canada', 'China'])

In [ ]:
# values() : 딕셔너리의 전체 value를 확인
city.values()

dict_values(['Seoul', 'Ottawa', 'Beijing'])

In [ ]:
# items() : 딕셔너리의 전체 key, value를 튜플 형식으로 확인
city.items()

dict_items([('Korea', 'Seoul'), ('Canada', 'Ottawa'), ('China', 'Beijing')])

# 컬렉션 끼리의 타입 캐스팅

In [ ]:
# list -> tuple
lst = [1, 2, 3]
tuple(lst)

(1, 2, 3)

In [ ]:
# tuple -> list
tup = 1, 2, 3
list(tup)

[1, 2, 3]

In [ ]:
# Sequence -> Set
lst = [1,1,2,2,3,3,4,4,5,5]
set(lst)

{1, 2, 3, 4, 5}

In [ ]:
# dict -> Sequence
list(city)

['Korea', 'Canada', 'China']

In [ ]:
set(city)

{'Canada', 'China', 'Korea'}

In [ ]:
text = "hello"
list(text)

['h', 'e', 'l', 'l', 'o']

In [ ]:
set(text)

{'e', 'h', 'l', 'o'}